
/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: "Lato", sans-serif; */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
}

/* shared styles */
.section-description{
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 18px;
}

.primary-btn{
    width: 119px;
    height: 43px;
    border-radius: 8px;
    background: rgb(229, 84, 115);
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    /* line-height: 24px; */
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}




/* styling banner page */
.banner-container{
    max-width: 1420px;
    height: 570px;
    border: 3px solid red;
    display: flex;
    background: rgba(229, 84, 115, 0.1);
}

.banner-text-container{
    /* width: 50%;
    height: 570px; */
    /* border: 3px solid green; */
    width: 475px;
    height: 340px;
    margin: 147px auto;
}

.banner-image-container{
    width: 50%;
    height: 570px;
    border: 3px solid blue;
}

.banner-title{
    color: rgb(39, 39, 39);
    font-family: Lato;
    font-size: 55px;
    font-weight: 800;
    /* line-height: 96px; */
    letter-spacing: 0%;
    text-align: left;
}

.banner-container .section-description{
    margin-bottom: 14px;
}